<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>

            <key>UTTypeDescription</key>
            <string>MacDraft MD70 Document</string>

            <key>UTTypeIdentifier</key>
            <string>uk.co.microspot.md70</string>

            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>md70</string>
                </array>
            </dict>
        </dict>
    </array>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>MacDraft MD70 Document</string>

            <key>CFBundleTypeRole</key>
            <string>Viewer</string>

            <key>LSHandlerRank</key>
            <string>Alternate</string>

            <key>LSItemContentTypes</key>
            <array>
                <string>uk.co.microspot.md70</string>
            </array>
        </dict>
    </array>
</dict>
</plist>